{% include 'receitas/parciais/head.html' %}


<body>

    {% include 'receitas/parciais/cabecalho.html' %}
    {% include 'receitas/parciais/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'receitas/parciais/recipe.html' %}
            {% include 'receitas/parciais/recipe.html' %}
            {% include 'receitas/parciais/recipe.html' %}
            {% include 'receitas/parciais/recipe.html' %}
            {% include 'receitas/parciais/recipe.html' %}
            {% include 'receitas/parciais/recipe.html' %}
        </div>
    </main>

    {% include 'receitas/parciais/footer.html' %}

</body>

</html>